
@charset "utf-8";

body {
    background: none repeat scroll 0 0 #000000;
    overflow-y: hidden;
}

    body > img {
        display: none !important;
        height: 0 !important;
    }

#wrapper {
    margin: 0;
    position: relative;
    width: 100%;
}

#gameContent {
    background: none repeat scroll 0 0;
    height: 580px;
}

.InGame {
    left: 50%;
    position: absolute;
    top: 50%;
}

#sideBar {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 200px;
    z-index: 3;
}

#sideBarIn {
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 200px;
    height: 1100px;
}

    #sideBarIn iframe {
        width: 160px;
        margin: 20px 0 0 20px;
    }

    #sideBarIn h1 {
        height: 130px;
        padding: 0;
        width: 201px;
    }

        #sideBarIn h1 a.Logo {
            display: block;
            height: 128px;
            margin: 0px 0 0;
            text-indent: -9999px;
            width: 201px;
        }

a.NapThe {
    display: block;
    width: 160px;
    height: 40px;
    margin: 0 0 0 20px;
    text-indent: -9999px;
}

    a.NapThe:hover {
        background-position: 0 -40px;
    }

a.CloseBtn:link, a.CloseBtn:visited {
    background: url(../images/toggle.png) no-repeat;
    display: block;
    width: 20px;
    height: 43px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 145px;
    z-index: 50;
}

a.OpenBtn:link, a.OpenBtn:visited {
    background: url(../images/toggle.png) -20px 0 no-repeat;
    display: block;
    width: 20px;
    height: 43px;
    right: 0;
    position: absolute;
    text-indent: -9999px;
    top: 145px;
    z-index: 10;
}

a.CloseBtn:hover {
    background-position: 0 -43px;
}

a.OpenBtn:hover {
    background-position: -20px -43px;
}

a.CloseBtn:focus, a.OpenBtn:focus, a.CloseBtnBot:focus, a.OpenBtnBot:focus {
    outline: medium none;
}

#iframeGame {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 200px;
    bottom: 0;
}
