@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700&subset=vietnamese);
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    padding: 0;
    color:#666666;
}
a{
    text-decoration: none;
    color: #8f0f0f;
}
a:hover{
    text-decoration: none;
    color: #d9534f;
}
thin{
    font-weight: 100;
}
input{
    padding: 6px;
    border-radius: 4px;
    border: solid 1px #8c8c8c;
    background: #f7f7f7;
    margin: 8px 0;
}
input:focus{
    outline-color: #e02c2c;
}
::-webkit-input-placeholder {
    color: #666666;
}

:-moz-placeholder { /* Firefox 18- */
    color: #666666;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #666666;
}

:-ms-input-placeholder {
    color: #666666;
}
.top-margin{
    margin-top: 10px;
}
/*Top Bar*/
.top-bar{
    background: #8f0f0f;
    color: #ffffff;
    font-size: 2em;
}
/* General styles for all menus */
.push-body{
    background: #8F0F0F;
    border: none;
    margin-top: 3px;
    float: left;
    height: 40px;
    outline: none;
}
.cbp-spmenu {
    background: #303030;
    position: fixed;
}


.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.cbp-spmenu a:hover {
    background: #D9534F;
}

.cbp-spmenu a:active {
    background: #8F0F0F;
    color: #FFFFFF;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.cbp-spmenu-vertical a {
    border-bottom: 1px solid #444444;
    padding: 1em;
}

.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}

.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
    left: -240px;
}

.cbp-spmenu-right {
    right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
    top: -150px;
}

.cbp-spmenu-bottom {
    bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.cbp-spmenu-push-toright {
    left: 240px;
}

.cbp-spmenu-push-toleft {
    left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



@media screen and (max-width: 55.1875em){

    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }

    .cbp-spmenu-top {
        top: -110px;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }

}

@media screen and (max-height: 26.375em){

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

    .cbp-spmenu-push-toright {
        left: 190px;
    }
}
/*Social*/
.login-social{
    background: #f2f2f2;
    margin-top: 10px;
    padding: 5px 0;
}
span.social-fb {
    height: 27px;
    background: url("../images/fb.png") no-repeat;
    width: 25px;
    display: inline-block;
    background-size: cover;
    margin: -5px 10px -10px -5px;
}
span.social-gp {
    height: 27px;
    background: url("../images/gp.png") no-repeat;
    width: 25px;
    display: inline-block;
    background-size: cover;
    margin: -5px 10px -10px -5px;
}
.btn-social{
    margin: 5px 0;
}
/*User*/
.user-container{
    padding: 10px;
}
.user-dp{
    vertical-align: text-top;
}
.user-dp img{
    display: inline-block;
    height: 40px;
    margin-right: 10px;
}
span.user-name{
    display: inline-block;
    font-weight: 700;
    position: absolute;
}
span.user-coin{
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    font-size: 0.9em;
}
.id-path{
    font-size: 0.8em;
    margin-bottom: -10px;
}
.card-input{
    display: none;
}
.card-panel input[type="radio"] + label{
    width: 100%;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #C7C7C7;
    margin: 5px;
}
.card-panel input[type="radio"]:checked + label{
    border: solid 1px #e02c2c;
    color: #e02c2c;
    background: #FFF9F9;
}
.card-panel img{
    width: 100%;
}
.form-left{
    display: inline-block;
    width: 20%;
    font-size: 0.9em;
}
.form-right{
    display: inline-block !important;
    width: 78% !important;
    margin: 0;
}
.notify-success{
    font-size: 1.5em;
}

.coin-pack {
    background: #ECECEC;
    border-radius: 5px;
    margin: 5px 0;
}
.coin-detail{
    padding: 10px;
    display: block;
    min-height: 110px;
    max-height: 150px;
}
.coin-detail img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.coin-detail p {
    display: inline-block;
    padding: 10px 0 0 10px;
    margin: 0;
}
.coin-p{
    padding: 0 5px;
}

span.error {
    text-align: right;
    display: block;
    margin: 5px 2% 0 0;
    font-size: 0.8em;
    color: #D9534F;
}
@media all and (max-width: 320px) and (min-width: 0px) {
    .coin-p{
        width: 100%;
    }
}
/*CSS 27-10*/
.tab-xu {
    width: 25%;
    text-align: center;
}
.tab-xu a {
    border: none !important;
}
li.active.tab-xu > a, li.active.tab-xu > a:focus, li.active.tab-xu > a:hover {
    border-bottom: solid 3px #D9534F !important;
}
.pack-cnt {
    display: inline-block;
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    overflow-x: auto;
}
.coin-p{
    white-space: nowrap;
}
.coin-pack {
    width: 160px;
    text-align: center;
    display: inline-block;
    margin: 20px;
}
