html,body{height:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none}svg:not(:root){overflow:hidden}figure{margin:0}html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none}input{outline:none;-webkit-appearance:none}
.cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}
.rs{margin:0;padding:0} h1.rs,h2.rs,h3.rs,h4.rs{font-size:100%}ul.rs{list-style:none}
img{border:none} a,input{outline:none} a{color:#00f;} a{text-decoration:none}
.fb{font-weight:bold}
.pa{position:absolute}.pr{position:relative}
.fl{float:left}.fr{float:right}
.tr{text-align:right}.tc{text-align:center}
input[type="checkbox"]{margin:0;vertical-align:-2px}button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner{border:0 !important;padding:0 !important}
body{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none}
body,input,textarea{font:14px "Helvetica"}
body{background:#07b5fa}
.spr{background:url(../images/sprite.png) no-repeat 0 0}
.fix{width:320px;margin:0 auto}
.container{overflow:hidden}
.header .fix{height:270px}
.header .game{display:block;left:50%;top:2px;width:205px;height:75px;text-indent:-9000px;margin-left:-102px;-webkit-animation:cgoFid 2s ease-out;-moz-animation:cgoFid 2s ease-out;animation-name:cgoFid 2s ease-out;}
.header .btn{display:block;width:124px;height:47px;text-indent:-9000px;bottom:1px}
.header .btn-1{display:block;width:172px;height:32px;text-indent:-9000px;background-position:-208px 0;bottom:55px;left:24px;}
.header .btn-1:after{content:"";display:block;width:43px;height:43px;background:url(../images/sprite.png) no-repeat -384px 0;position:absolute;left:-16px;top:-7px; -webkit-animation:rotate 1.5s linear infinite;-moz-animation:rotate 1.5s linear infinite;animation:rotate 1.5s linear infinite;}
.header .btn-2{left:-2px;background-position:0 -80px;-webkit-animation:cgoPu 0.5s ease-out;-moz-animation:cgoPu 0.5s ease-out;animation-name:cgoPu 0.5s ease-out}
.header .btn-3{left:99px;background-position:-128px -80px;-webkit-animation:cgoPu 0.5s ease-out 0.5s;-moz-animation:cgoPu 0.5s ease-out 0.5s;animation-name:cgoPu 0.5s ease-out 0.5s}
.header .btn-4{left:199px;background-position:-256px -80px;-webkit-animation:cgoPu 0.5s ease-out 1s;-moz-animation:cgoPu 0.5s ease-out 1s;animation-name:cgoPu 0.5s ease-out 1s}
.header .btn-4 span{display:block;width:112px;height:35px;position:relative;top:6px;left:6px;overflow:hidden}
.header .btn-4 span:after{content:"";display:block;width:16px;height:17px;background:url(../images/sprite.png) no-repeat -208px -32px;position:absolute;right:12px;top:10px; -webkit-animation:slideDown 1.5s linear infinite;-moz-animation:slideDown 1.5s linear infinite;animation:slideDown 1.5s linear infinite;}
.navmain{background: -moz-linear-gradient(top,  #74b2ce 0%, #6cb0cd 12%, #58a8ca 32%, #1f96c2 76%, #088ec0 100%);background: -webkit-linear-gradient(top,  #74b2ce 0%,#6cb0cd 12%,#58a8ca 32%,#1f96c2 76%,#088ec0 100%);background: -ms-linear-gradient(top,  #74b2ce 0%,#6cb0cd 12%,#58a8ca 32%,#1f96c2 76%,#088ec0 100%);background: linear-gradient(to bottom,  #74b2ce 0%,#6cb0cd 12%,#58a8ca 32%,#1f96c2 76%,#088ec0 100%);border-bottom:1px solid #05a2d6;overflow:hidden}
.navmain .item{float:left;padding-right:2px;background:url(../images/line-2x25.png) no-repeat 100% 50%;}
.navmain .item:nth-child(1){width:97px}
.navmain .item:nth-child(2){width:67px}
.navmain .item:nth-child(3){width:70px}
.navmain .item:nth-child(4){width:80px;padding-right:0;background:none}
.navmain .item a{display:block;line-height:26px;text-indent:-9000px}
.navmain .item:nth-child(1) a{background-position:-224px -32px}
.navmain .item:nth-child(2) a{background-position:-432px 0}
.navmain .item:nth-child(3) a{background-position:0 -128px}
.navmain .item:nth-child(4) a{background-position:-80px -128px}
.bopt{padding:5px 0;border-bottom:1px solid #0096ff}
.bopt a{display:block;float:left;width:80px;height:80px;text-indent:-9000px;position:relative}
.bopt a:after{content:"";display:block;background:url(../images/sprite.png) no-repeat 0 0;width:85px;height:80px;position:absolute;left:-2px;top:0}
.bopt a:nth-child(1):after{background-position:0 -160px;}
.bopt a:nth-child(2):after{background-position:-80px -160px;}
.bopt a:nth-child(3):after{background-position:-168px -160px;}
.bopt a:nth-child(4):after{background-position:-256px -160px;}
.bnews{padding:6px 9px}
.bnews .head{height:39px;background:#1b2733;padding:0 4px}
.bnews .head a{display:block;background:url(../images/line-21x34.png) repeat-x 0 0;height:34px;position:relative;top:3px;line-height:34px}
.bnews .head a span{display:block;width:84px;margin:0 auto;text-indent:-9000px}
.boxTT .head a span{background-position:-176px -240px}
.boxSK .head a span{background-position:-272px -240px}
.bnews-tleft,.bnews-tright{width:4px;height:39px;top:0}
.bnews-tleft{background-position:-176px -328px;left:0}
.bnews-tright{background-position:-184px -328px;right:0}
.bnews-bot{height:80px;padding:0 80px}
.bnews-bcenter{height:80px;background:url(../images/line-1x80.png) repeat-x 0 0;position:relative}
.boxTT .bnews-bcenter:after{content:"";display:block;width:91px;height:72px;position:absolute;left:50%;top:50%;margin:-36px 0 0 -45px;background:url(../images/sprite.png) no-repeat -384px -48px;-webkit-animation:swim-1 30s linear infinite;-moz-animation:swim-1 30s linear infinite;animation:swim-1 30s linear infinite;}
.boxSK .bnews-bcenter:after{content:"";display:block;width:85px;height:83px;position:absolute;left:50%;top:50%;margin:-42px 0 0 -43px;background:url(../images/sprite.png) no-repeat -384px -128px;-webkit-animation:swim-2 30s linear infinite;-moz-animation:swim-2 30s linear infinite;animation:swim-2 30s linear infinite;}
.bnews-bleft,.bnews-bright{width:80px;height:80px;top:0}
.bnews-bleft{background-position:0 -328px;left:0}
.bnews-bright{background-position:-80px -328px;right:0}
.bnews .data-left{padding:0 0 0 12px;background:url(../images/line-12x1-1.png) repeat-y 0 0;}
.bnews .data-right{padding-right:12px;background:url(../images/line-12x1-2.png) repeat-y 100% 0;}
.bnews .data-center{padding:10px 3px;background:url(../images/line-1x1.png) repeat 0 0}
.bnews .item{line-height:22px}
.bnews .item .thumb{display:block;width:270px;margin:0 auto;height:170px;border:2px solid #1078ae;overflow:hidden}
.bnews .item .thumb img{min-height:170px}
.bnews .item .thumb img,.bartic .item a .thumb img,.brela .item a .thumb img{-webkit-transition: -webkit-transform .3s ease-out;-moz-transition: -moz-transform .3s ease-out;-o-transition: -o-transform .3s ease-out;transition: transform .3s ease-out}
.bnews .item .thumb:hover img,.bartic .item a .thumb:hover img,.brela .item a .thumb:hover img{-webkit-transform: scale(1.2) rotate(-5deg);-moz-transform: scale(1.2) rotate(-5deg);-o-transform: scale(1.2) rotate(-5deg);-ms-transform: scale(1.2) rotate(-5deg);transform: scale(1.2) rotate(-5deg);opacity: 0.85;filter:alpha(opacity=85)}
.bnews .item h3{margin:5px 0 0;font-size:16px}
.bnews .item h3 a{color:#eaf9ff}
.bnews .item p{font-size:13px;color:#FFF;}
.bnews .item .time{color:#00516b;font-size:11px}
.ulNews li{background:url(../images/line-278x1.png) no-repeat 50% 100%;background-size:100% 1px;-webkit-background-size:100% 1px;padding-bottom:1px}
.ulNews li:last-child{background:none;padding-bottom:0;}
.ulNews li a{display:block;position:relative;padding:0 60px 0 13px;font-size:12px;line-height:27px}
.ulNews li a:after{content:"";width:5px;height:5px;background:#032550;position:absolute;left:0;top:10px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform: rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.ulNews li a .time{position:absolute;top:0;right:10px;color:#005774;font-size:11px}
.ulNews li a .text{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#ade8ff}
.footer{background:url(../images/footer.png) repeat-x 50% 0;height:135px;border-top:1px solid #91e1ff;-moz-background-size:100% 135px;-webkit-background-size:100% 135px;background-size:100% 135px;position:relative;overflow:hidden}
.footer:after{content:"";display:block;background:url(../images/bubble.png) repeat-x 50% 0;position:absolute;left:0;top:0;width:100%;height:135px; -webkit-animation:bubble 4s linear infinite;-moz-animation:bubble 4s linear infinite;animation:bubble 4s linear infinite;}
.footer,.footer a{color:#fff;font-size:12px;line-height:18px}
.footer .inner{padding:80px 10px 10px;text-align:center;}
.footer .inner .game{background-position:0 -256px;display:block;position:absolute;top:16px;left:50%;width:156px;height:57px;margin-left:-78px;text-indent:-9000px;}
.bslide{position:relative;overflow:visible;height:235px}
.bslide .inner{position:absolute;width:100%;height:100%}
.taSlider{position:relative;top:0;left:0;overflow:visible;width:100%;height:100%}
.taSlider .slider{width:100%;height:100%}
.taSlider .slider .item{float:left;width:320px}
.taSlider .slider .item{height:210px;overflow:hidden}
.taSlider .slider .item img{width:100%}
.taSlider .slider .item .title{display:none;width:100%;position:absolute;bottom:0;left:0;background:rgba(0,0,0,0.6)}
.taSlider .slider .item.active .title{display:block;-webkit-animation:cgoUp 0.5s ease-out;-moz-animation:cgoUp 0.5s ease-out;animation-name:cgoUp 0.5s ease-out}
.taSlider .slider .item .title .title-inner{position:relative;padding:0 48px}
.taSlider .btn-prev,.taSlider .btn-next{width:48px;display:block;position:absolute;top:0;height:100%;text-indent:-999em}
.taSlider .btn-prev span,.taSlider .btn-next span{width:15px;height:22px;display:block;position:absolute;top:50%;text-indent:-999em;margin-top:-11px;background:url(../images/sprite.png) no-repeat 0 0;}
.taSlider .btn-prev{left:0}
.taSlider .btn-next{right:0}
.taSlider .btn-prev span{background-position:-336px -32px;left:6px;}
.taSlider .btn-next span{background-position:-352px -32px;right:6px;}
.taSlider .slider .item .title a.name{display:block;color:#fff;padding:7px 0;font-size:15px;font-weight:bold;line-height:18px}
.control{height:25px;text-align:center;position:absolute;bottom:0;left:0;width:100%;background:#0096ff}
.control li{display:inline-block;margin:9px 2px 0}
.control li a{display:block;width:7px;height:7px;background:#005896;-webkit-border-radius:50%;border-radius:50%;text-indent:-999em;-webkit-transition:all 0.2s;transition:all 0.2s}
.control li a.cur{background:#fff}
.ul-tab{left:24px;bottom:8px}
.ul-tab li{float:left;width:49px;margin-right:7px;}
.ul-tab li a{display:block;width:49px;height:48px;text-indent:-9000px;-webkit-border-radius:100%;border-radius:100%;background:url(../images/sprite.png) no-repeat 0 0;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
.ul-tab li a:hover{-webkit-animation:cgoPu 0.5s ease-out;-moz-animation:cgoPu 0.5s ease-out;animation-name:cgoPu 0.5s ease-out;}
.ul-tab li:nth-child(1) a{background-position:0 -944px;}
.ul-tab li:nth-child(2) a{background-position:-64px -944px;}
.ul-tab li:nth-child(3) a{background-position:-128px -944px;}
.ul-tab li:nth-child(4) a{background-position:-192px -944px;}
.ul-tab li:nth-child(5) a{background-position:-256px -944px;}
.ul-tab li:nth-child(1) a.active{background-position:0 -992px;}
.ul-tab li:nth-child(2) a.active{background-position:-64px -992px;}
.ul-tab li:nth-child(3) a.active{background-position:-128px -992px;}
.ul-tab li:nth-child(4) a.active{background-position:-192px -992px;}
.ul-tab li:nth-child(5) a.active{background-position:-256px -992px;}
.bartic{margin:-1px 0 0}
.bartic .item{position:relative;z-index:9;border-top:1px solid #004097}
.bartic .item a{display:block;padding:4px 4px 4px 150px;position:relative;min-height:87px;line-height:18px}
.bartic .item:nth-child(even) a,.brela .item a{background: -moz-linear-gradient(top,  #004097 0%, #aef3ff 1%, #a8f1fe 19%, #87e3f9 79%, #7fe0f8 100%);background: -webkit-linear-gradient(top,  #004097 0%,#aef3ff 1%,#a8f1fe 19%,#87e3f9 79%,#7fe0f8 100%);background: linear-gradient(to bottom,  #004097 0%,#aef3ff 1%,#a8f1fe 19%,#87e3f9 79%,#7fe0f8 100%);}
.bartic .item:nth-child(even) a .name{color:#005164}
.bartic .item:nth-child(odd) a{background: -moz-linear-gradient(top,  #3a99c0 0%, #1a8fbd 100%);background: -webkit-linear-gradient(top,  #3a99c0 0%,#1a8fbd 100%);background: linear-gradient(to bottom,  #3a99c0 0%,#1a8fbd 100%);}
.bartic .item:nth-child(odd) a .name{color:#fff}
.bartic .item:nth-child(odd) a .time{color:#7cdbff}
.bartic .item:nth-child(even) a .time{color:#2492be}
.bartic .item a span,.brela .item a span{display:block}
.bartic .item a .thumb{position:absolute;left:4px;top:4px;width:135px;height:85px;border:1px solid #004097;overflow:hidden}
.bartic .item a .thumb img{min-height:85px}
.bartic .item a .time{font-size:12px;margin-top:3px;}
ul.bpage{padding:8px 5px 5px;list-style:none;border-top:1px solid #465533;margin:0;}
.bpage li{display:inline;padding:0 1px}
.bpage .pQuick span,.bpage .pLink span,.bpage .pLink a,.bpage .pQuick a{position:relative;display:inline-block;padding:0 7px;height:34px;font-weight:bold;line-height:30px;color:#ade8ff;border:2px solid transparent}
.bpage .pLink .cur{color:#00a3ff;border:2px solid #00a3ff}
.bpage .pQuick a,.bpage .pQuick span{background:url(../images/sprite.png) no-repeat 0 0;width:26px;padding:0;text-indent:-9000px}
.bpage .pEnd a{background-position:-192px -336px;}
.bpage .pPrev a{background-position:-224px -336px;}
.bpage .pStart a{background-position:-256px -336px;}
.bpage .pNext a{background-position:-288px -336px;}
.bdetail{color:#d0f1fe;position:relative;padding:10px;line-height:22px}
.bdetail .head{color:#fff;font-size:16px;padding:0;margin:0}
.bdetail .time{color:#0cb9ff;font-size:13px}
.bdetail .data{font-size:13px}
.bdetail p{margin:10px 0}
.bdetail img{border:2px solid #00a3ff;max-width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;display:block;margin:5px auto}
.bdetail figure{text-align:center}
.bdetail figcaption{font-style:italic;font-size:12px}
.brela{padding:6px}
.brela .head{border-top:1px solid #00a3ff;color:#fff;font-size:13px;text-transform:uppercase;padding:5px 3px}
.brela .rela{border:1px solid #00a3ff}
.brela .item{margin-bottom:2px}
.brela .item a{color:#005164;display:block;padding:5px 5px 5px 102px;min-height:59px;font-size:12px;line-height:18px;position:relative}
.brela .item a .thumb{position:absolute;left:5px;top:5px;width:90px;height:57px;border:1px solid #00a3ff;overflow:hidden}
.brela .item a .thumb img{min-height:57px}
.brela .item a .time{font-size:12px;color:#2492be}
.b404{text-align:center;padding:15px 10px}
.b404 .text{line-height:22px;padding:5px 0}
.b404 .text a{color:#f00}
#overlay{background:rgba(0,0,0,0.5);position:absolute;left:0;top:0;width:100%;height:100%;z-index:999}
.popup{width:300px;height:60px;background:#fff;-webkit-border-radius:5px;border-radius:5px;position:absolute;top:50%;left:50%;margin:-30px 0 0 -150px;z-index:10000;overflow:hidden;-webkit-animation-duration:1s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-webkit-animation-name:bounceIn;-moz-animation-duration:1s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-moz-animation-name:bounceIn;animation-duration:1s;animation-timing-function:ease;animation-fill-mode:both;animation-name:bounceIn}
.popup-inner{padding:10px;text-align:center;line-height:20px}
@-webkit-keyframes cgoPu {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes cgoPu {
    0% { -moz-transform: scale(1); }
    50% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@keyframes cgoPu {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
@-webkit-keyframes cgoSil {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cgoSil {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes cgoUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes cgoUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cgoFid {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes cgoFid {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@media only screen
and (min-device-width :320px)
and (max-device-width :480px){
    .header{background:url(../images/header.png) no-repeat 50% 0}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width :321px){
    .header{background:url(../images/header-480.png) no-repeat 50% 0}
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width:320px){

}
/* Smartphones (portrait) ----------- */
@media only screen
and (min-width:360px){

}/* Smartphones (portrait) ----------- */
@media only screen
and (min-width:640px){
    .header{background:#07b5fa url(../images/header-1024.png) no-repeat 50% 0}
    .bnews .cbc div{display:none}
    .wrap{display: -webkit-box;-webkit-box-align: center;-webkit-box-pack: justify;width: 640px;margin:0 auto}
    .wrap .bnews{width: 100%;-webkit-box-sizing: border-box;-webkit-box-flex: 1;overflow: hidden}
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width :768px)
and (max-device-width :1024px){

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width :768px)
and (max-device-width :1024px)
and (orientation :landscape){
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width :768px)
and (max-device-width :1024px)
and (orientation :portrait){
}
/* Large screens ----------- */
@media only screen
and (min-width :800px) {
    .bnews .data-center{padding: 8px 8px 8px 585px;position:relative;min-height:180px}
    .bnews .data-center .item{width:290px;position:absolute;left:0;top:8px;padding-left: 300px;}
    .bnews .data-center .item .pic{position:absolute;left: 8px;top:0}
    .bnews .data-center h2{padding:0 5px 3px}
    .bnews .data-center .ulNews{padding: 0 0 0 30px;}
    .bartic .item,.brela .item{float:left;width:50%;box-sizing:border-box;-webkit-box-sizing:border-box}
    .bartic .item:nth-child(even){border-left:1px solid #465533}
    .brela .item:nth-child(even){border-left:none}
    .bdetail .data{-moz-column-count:4;-webkit-column-count:4;column-count:4;-moz-column-gap:40px;-webkit-column-gap:40px;column-gap:40px;}
}
/* Large screens ----------- */
@media only screen
and (min-width :1824px){
}
@keyframes slideDown{
    0% { top: -10px; }
    100% { top: 47px;}
}
@-webkit-keyframes slideDown{
    0% { top: -10px; }
    100% { top: 47px;}
}
@-moz-keyframes slideDown{
    0% { top: -10px; }
    100% { top: 47px;}
}
@-moz-keyframes bubble{
    0% { top: 100px; }
    100% { top: -135px;}
}
@keyframes bubble{
    0% { top: 100px; }
    100% { top: -135px;}
}
@-webkit-keyframes bubble{
    0% { top: 100px; }
    100% { top: -135px;}
}
@keyframes rotate{
    0% { -webkit-transform:rotate(0);}
    50% { -webkit-transform:rotate(180deg);}
    100% { -webkit-transform:rotate(360deg);}
}
@-webkit-keyframes rotate{
    0% { -webkit-transform:rotate(0);}
    50% { -webkit-transform:rotate(180deg);}
    100% { -webkit-transform:rotate(360deg);}
}
@-moz-keyframes rotate{
    0% { -webkit-transform:rotate(0);}
    50% { -webkit-transform:rotate(180deg);}
    100% { -webkit-transform:rotate(360deg);}
}
@keyframes swim-1{
    from{
        left:50%;
    }
    20%{
        left:0;
        transform:scaleX(1);
        z-index:90;
    }
    20.5%{
        transform:scaleX(-1);
        z-index:10;
        left:-30px;
    }
    21%{
        left:0.8%;
    }
    42%{
        left:55%;
    }
    50%{
        z-index:28;
        top:10px;
        left:80%;
        transform:scaleX(-1);
    }
    50.5%{
        transform:scaleX(1);
        z-index:100;
        left:70%;
        top:30px;
    }
    51%{
        left:63%;
        z-index:150;
    }
    60%{
        left:50%;
        z-index:150;
    }
    64%{
        left:40%;
        z-index:150;
    }
    66%{
        left:0.8%;
        z-index:150;
    }
    69%{
        left:-0.3%;
        z-index:150;
    }
    70%{
        top:10px;
        left:-0.3%;
        transform:scaleX(1);
        z-index:90;
    }
    70.5%{
        transform:scaleX(-1);
        z-index:10;
        left:-30px;
    }
    71%{
        left:0.4%;
    }
    80%{
        left:55%;
    }
    81%{
        left:55%;
        top:7px;
    }
    82%{
        left:55%;
        transform:scaleX(-1);
    }
    82.5%{
        transform:scaleX(1);
        top:7px;
        left:55%;
    }
    84%{
        top:10px;
        left:50%;
        z-index:28;
    }
    88%{
        top:10px;
        left:40%;
        z-index:28;
    }
    to{
        left:20%;
    }
}
@-moz-keyframes swim-1{
    from{
        left:50%;
    }
    20%{
        left:0;
        -moz-transform:scaleX(1);
        z-index:90;
    }
    20.5%{
        -moz-transform:scaleX(-1);
        z-index:10;
        left:-30px;
    }
    21%{
        left:0.8%;
    }
    42%{
        left:55%;
    }
    50%{
        z-index:28;
        top:10px;
        left:80%;
        -moz-transform:scaleX(-1);
    }
    50.5%{
        -moz-transform:scaleX(1);
        z-index:100;
        left:70%;
        top:30px;
    }
    51%{
        left:63%;
        z-index:150;
    }
    60%{
        left:50%;
        z-index:150;
    }
    64%{
        left:40%;
        z-index:150;
    }
    66%{
        left:0.8%;
        z-index:150;
    }
    69%{
        left:-0.3%;
        z-index:150;
    }
    70%{
        top:10px;
        left:-0.3%;
        -moz-transform:scaleX(1);
        z-index:90;
    }
    70.5%{
        -moz-transform:scaleX(-1);
        z-index:10;
        left:-30px;
    }
    71%{
        left:0.4%;
    }
    80%{
        left:55%;
    }
    81%{
        left:55%;
        top:7px;
    }
    82%{
        left:55%;
        -moz-transform:scaleX(-1);
    }
    82.5%{
        -moz-transform:scaleX(1);
        top:7px;
        left:55%;
    }
    84%{
        top:10px;
        left:50%;
        z-index:28;
    }
    88%{
        top:10px;
        left:40%;
        z-index:28;
    }
    to{
        left:20%;
    }
}
@-webkit-keyframes swim-1{
    from{
        left:50%;
    }
    20%{
        left:0;
        -webkit-transform:scaleX(1);
        z-index:90;
    }
    20.5%{
        -webkit-transform:scaleX(-1);
        z-index:10;
        left:-30px;
    }
    21%{
        left:0.8%;
    }
    42%{
        left:55%;
    }
    50%{
        z-index:28;
        top:10px;
        left:80%;
        -webkit-transform:scaleX(-1);
    }
    50.5%{
        -webkit-transform:scaleX(1);
        z-index:100;
        left:70%;
        top:30px;
    }
    51%{
        left:63%;
        z-index:150;
    }
    60%{
        left:50%;
        z-index:150;
    }
    64%{
        left:40%;
        z-index:150;
    }
    66%{
        left:0.8%;
        z-index:150;
    }
    69%{
        left:-0.3%;
        z-index:150;
    }
    70%{
        top:10px;
        left:-0.3%;
        -webkit-transform:scaleX(1);
        z-index:90;
    }
    70.5%{
        -webkit-transform:scaleX(-1);
        z-index:10;
        left:-30px;
    }
    71%{
        left:0.4%;
    }
    80%{
        left:55%;
    }
    81%{
        left:55%;
        top:7px;
    }
    82%{
        left:55%;
        -webkit-transform:scaleX(-1);
    }
    82.5%{
        -webkit-transform:scaleX(1);
        top:7px;
        left:55%;
    }
    84%{
        top:10px;
        left:50%;
        z-index:28;
    }
    88%{
        top:10px;
        left:40%;
        z-index:28;
    }
    to{
        left:20%;
    }
}
@keyframes swim-2{
    from{
        left:40%;
    }
    20%{
        left:10%;
        transform:scaleX(1);
        z-index:90;
    }
    20.5%{
        transform:scaleX(-1);
        z-index:10;
        left:0;
    }
    21%{
        left:1.8%;
    }
    42%{
        left:25%;
    }
    50%{
        z-index:28;
        top:5px;
        left:60%;
        transform:scaleX(-1);
    }
    50.5%{
        transform:scaleX(1);
        z-index:100;
        left:80%;
        top:15px;
    }
    51%{
        left:63%;
        z-index:150;
    }
    60%{
        left:40%;
        z-index:150;
    }
    64%{
        left:20%;
        z-index:150;
    }
    66%{
        left:0.8%;
        z-index:150;
    }
    69%{
        left:1.3%;
        z-index:150;
    }
    70%{
        top:5px;
        left:1.3%;
        transform:scaleX(1);
        z-index:90;
    }
    70.5%{
        transform:scaleX(-1);
        z-index:10;
        left:10%;
    }
    71%{
        left:24%;
    }
    80%{
        left:45%;
    }
    81%{
        left:65%;
        top:10px;
    }
    82%{
        left:85%;
        transform:scaleX(-1);
    }
    82.5%{
        transform:scaleX(1);
        top:10px;
        left:65%;
    }
    84%{
        top:0;
        left:50%;
        z-index:28;
    }
    88%{
        top:5px;
        left:30%;
        z-index:28;
    }
    to{
        left:10%;
    }
}
@-moz-keyframes swim-2{
    from{
        left:40%;
    }
    20%{
        left:10%;
        -moz-transform:scaleX(1);
        z-index:90;
    }
    20.5%{
        -moz-transform:scaleX(-1);
        z-index:10;
        left:0;
    }
    21%{
        left:1.8%;
    }
    42%{
        left:25%;
    }
    50%{
        z-index:28;
        top:5px;
        left:60%;
        -moz-transform:scaleX(-1);
    }
    50.5%{
        -moz-transform:scaleX(1);
        z-index:100;
        left:80%;
        top:15px;
    }
    51%{
        left:63%;
        z-index:150;
    }
    60%{
        left:40%;
        z-index:150;
    }
    64%{
        left:20%;
        z-index:150;
    }
    66%{
        left:0.8%;
        z-index:150;
    }
    69%{
        left:1.3%;
        z-index:150;
    }
    70%{
        top:5px;
        left:1.3%;
        -moz-transform:scaleX(1);
        z-index:90;
    }
    70.5%{
        -moz-transform:scaleX(-1);
        z-index:10;
        left:10%;
    }
    71%{
        left:24%;
    }
    80%{
        left:45%;
    }
    81%{
        left:65%;
        top:10px;
    }
    82%{
        left:85%;
        -moz-transform:scaleX(-1);
    }
    82.5%{
        -moz-transform:scaleX(1);
        top:10px;
        left:65%;
    }
    84%{
        top:0;
        left:50%;
        z-index:28;
    }
    88%{
        top:5px;
        left:30%;
        z-index:28;
    }
    to{
        left:10%;
    }
}
@-webkit-keyframes swim-2{
    from{
        left:40%;
    }
    20%{
        left:10%;
        -webkit-transform:scaleX(1);
        z-index:90;
    }
    20.5%{
        -webkit-transform:scaleX(-1);
        z-index:10;
        left:0;
    }
    21%{
        left:1.8%;
    }
    42%{
        left:25%;
    }
    50%{
        z-index:28;
        top:5px;
        left:60%;
        -webkit-transform:scaleX(-1);
    }
    50.5%{
        -webkit-transform:scaleX(1);
        z-index:100;
        left:80%;
        top:15px;
    }
    51%{
        left:63%;
        z-index:150;
    }
    60%{
        left:40%;
        z-index:150;
    }
    64%{
        left:20%;
        z-index:150;
    }
    66%{
        left:0.8%;
        z-index:150;
    }
    69%{
        left:1.3%;
        z-index:150;
    }
    70%{
        top:5px;
        left:1.3%;
        -webkit-transform:scaleX(1);
        z-index:90;
    }
    70.5%{
        -webkit-transform:scaleX(-1);
        z-index:10;
        left:10%;
    }
    71%{
        left:24%;
    }
    80%{
        left:45%;
    }
    81%{
        left:65%;
        top:10px;
    }
    82%{
        left:85%;
        -webkit-transform:scaleX(-1);
    }
    82.5%{
        -webkit-transform:scaleX(1);
        top:10px;
        left:65%;
    }
    84%{
        top:0;
        left:50%;
        z-index:28;
    }
    88%{
        top:5px;
        left:30%;
        z-index:28;
    }
    to{
        left:10%;
    }
}